body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12pt;
  -webkit-text-size-adjust: none;
  background-color: #f5f5f5;
}

input {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12pt;
}

a {
  text-decoration: none;
  color: black;
}

@font-face {
  font-family: 'LCHandwriting';
  src: url('/assets/fonts/LCHandwriting.ttf')  format('truetype');
}
.header {
  background-color: lightblue;
  position: fixed;
  left: 0;
  right: -0;
  top: 0;
  height: 1.5em;
}

.header_title {
  float: left;
}

.header_menu {
  float: right;
}

.poemmachine {
  display: flex;
  position: fixed;
  top: 5em;
  bottom: -0em;
  left: 0em;
  right: -0em;
}

.navpane {
  background-color: white;
  overflow-y: scroll;
  position: fixed;
  width: 20em;
  z-index: 2;
  top: 4.5em;
  bottom: -0;
  left: 6.5px;
}

.navtogglebar {
    background-color: rgba(220, 235, 252, 0.5);
    cursor: pointer;
    border: solid lightgrey 1px;
    margin: 0.1em;
    position: fixed;
    width: 1.5em;
    z-index: 1;
    top: 4.5em;
    left: 6.5px;
    bottom: -0;
    visibility: hidden;
}

.navtogglebar_text {
    position: relative;
    left: 0em;
    top: 5.3em;
    width: 12em;
    transform: rotate(-90deg);
    transform-origin: 5% 50%;
}

.viewpane {
  overflow-y: scroll;
  flex-grow: 1;
  position: absolute;
  left: 20em;
  right: -0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

@media only screen and (max-width: 960px) {
    .viewpane {
        left: 1.5em;
    }

    .navinactive {
        left: -20em;
    }

    .navtogglebar {
      visibility: visible;
    }
}

.navsection {
  margin: 0.5em;
}

.viewsection {
  margin: 0.2cm;
  margin-bottom: 0;
  padding: 0.2cm;
  background-color: white;
  max-width: 40em;
}

.line {
  position: relative;
}

.content .line:nth-child(2n + 1) .linespan {
  background-color: rgb(255, 235, 200);
}

.linespan {
  max-width: 32em;
}

.note {
  position: absolute;
  top: 0em;
  left: 24em;
  right: -0em;
}

.searchbox_container {
  display: flex;
  flex-direction: column;
  color: lightyellow;
  box-shadow: 0pt 0pt 5pt 0pt;
  margin: 10pt;
}

.searchbox {
  border: 1pt solid darkgray;
  padding: 2pt;
}

.navtreenode {
  padding-top: 5px;
}

.navtreenode_title {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1pt solid darkgray;
  margin: 0pt;
  padding: 2pt;
}

.navtreenode_title_highlight {
  background-color: rgba(255, 253, 111, 0.7);
}

.navtreenode_title_focus {
  font-weight: bold;
}

.expandbutton {
  font-family: "Courier New", Courier, monospace;
  padding: 3pt;
  cursor: pointer;
}

.navtreenode_doclink {
}

.navtreenode_content {
  background-color: rgba(0, 0, 255, 0.1);
  margin: 0pt 0pt 4pt 8pt;
}

.focuscontent {
  padding: 5pt;
  margin-bottom: 20em;;
}

.docviewer_title {
  font-weight: bold;
  margin: 0pt;
}

.docviewer_text {
}

.docviewer_text p {
  margin-top: 0pt;
}

.docviewer_description {
  font-style: italic;
}

.referrer {
  margin: 0pt;
  padding: 2pt;
  text-decoration: underline;
}

.searchhit_title {
  font-weight: bold;
  margin-top: 0pt;
}

.searchhit_preview {
  margin-top: 0pt;
  margin-bottom: 0pt;
}

.embedded_link_internal {
  font-weight: bold;
}
