.heading {
  font-weight: bold;
}

.reference {
  font-style: italic;
  margin-bottom: 1.5em;
}

.link {
  text-decoration: underline;
}

.section {
    
  margin: 0.2cm;
  padding: 0.2cm;
  
  max-width: 40em;
}

.sectiontitle {
}

.card {
  border: 1px solid lightgray;
  background-color: white;
  margin: 0.2cm;
  padding: 0.2cm;
}

.cardtitle {
  font-weight: bold;
}

.canonparagraph {
  margin-bottom: 1.5em;
}

.canonline {
  margin-bottom: 0.1cm;
}

.canonline:hover {
  background-color: lightyellow;
}

.previewparagraph {
  margin-bottom: 1.5em;
}

.previewline {
  margin-bottom: 0.1cm;
}

.annotations {
  position: absolute;
  top: 0em;
  width: 24em;
  right: -0em;
}

.annotation {
  position: absolute;
  background-color: lightgreen;
}
