.heading {
  font-weight: bold;
}

.reference {
  font-style: italic;
}

.link {
  text-decoration: underline;
}

.section {
    
  margin: 0.2cm;
  padding: 0.2cm;
  
  max-width: 32em;
}

.sectiontitle {
}

.card {
  border: 1px solid lightgray;
  background-color: white;
  margin: 0.2cm;
  padding: 0.2cm;
}

.cardtitle {
  font-weight: bold;
}
