.heading {
  font-weight: bold;
}

.reference {
  font-style: italic;
  margin-bottom: 1.5em;
}

.link {
  text-decoration: underline;
}

.section {
    
  margin: 0.2cm;
  padding: 0.2cm;
  width: 60%;
}

.sectiontitle {
}

.card {
  border: 1px solid lightgray;
  background-color: white;
  margin: 0.2cm;
  padding: 0.2cm;
}

.cardtitle {
  font-weight: bold;
}

.canonparagraph {
  margin-bottom: 1.5em;
}

.canonline {
  margin: 0;
  margin-top: 0.2em;
}

.canonlinetext {
  display: inline;
}

.canonlinetext:hover {
  background-color: rgba(200, 200, 255, 0.2);
  cursor: pointer;
}

.previewparagraph {
  margin-bottom: 1.5em;
}

.previewline {
  margin-bottom: 0.1cm;
}

.annotations {
  position: absolute;
  top: 0em;
  width: 40%;
  right: -0em;
}

.annotation {
  position: absolute;
  left: 0;
  right: -0;
  margin-left: 0.4cm;
  font-style: italic;
  border-top: 1px solid lightblue;
  border-left: 1px solid lightblue;
  padding-left: 0.5em;
}

@media only screen and (max-width: 44em) {
  .section {
    width: auto;
    right: -0;
  }

  .annotations {
    visibility: hidden;
  }
}