.annotatorcontainer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20em;
    background-color: white;
    border-top: 1px solid lightgray;
    z-index: 5;
}

.annotation {
    border: 1px solid lightgray;
    padding: 0.5em;
    margin: 0.5em;
}